.list {
	list-style: none;
	margin: 0;
}

.list__item {
	font-weight: 700;
	font-size: 24px;
	padding: 30px 70px;
	cursor: pointer;
	line-height: 36px;

}

.list__item:nth-child(odd) {
	background-color: #fff;
	color: #1C1A1A;
}

.list__item:nth-child(even) {
	background-color: #440F51;
	color: #fff;
}


.list__item:not(:last-child) {
	margin-bottom: 20px;
}


.list__item:after {
	content: '';
	display: inline-block;
	width: 36px;
	height: 36px;
	float: right;
}

.list__item:nth-child(odd):after {
	background: url('../img/icon/open-purple.svg');
}

.list__item:nth-child(even):after {
	background: url('../img/icon/open.svg');
}