.footer {
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 10px;
	background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 156px;
}

.footer__info {}


.footer__title {
	margin-bottom: 54px;
}

.address {
	font-style: normal;
	margin-bottom: 39px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
}

.address__text_icon_location {
	margin-bottom: 38px;
	white-space: pre-line;

}

.address__text_icon_tel {
	margin-bottom: 11px;
}

.address__link {
	color: #fff;
	transition: color 0.3s ease 0s;
}

.address__link:hover {
	color: var(--purple-color);
}


.address__text:before {
	content: '';
	display: inline-block;
	width: 35px;
	height: 32px;
	margin-right: 30px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.address__text_icon_location:before {
	background-image: url('../img/icon/location.svg');
	float: left;
	height: 64px;
	background-position: center;
}

.address__text_icon_tel:before {
	background-image: url('../img/icon/telephone.svg');
}

.address__text_icon_email:before {
	background-image: url('../img/icon/mail.svg');
}


.footer__navigation {
	display: inline-block;
}

.social-list {
	font-size: 0;
}

.social-list__item {
	display: inline-block;
}

.social-list__item:not(:last-child) {
	margin-right: 27px;
}

.social-list__icon-link {
	display: inline-block;
	outline: 1px solid #ffffff00;
	transition: color 0.3s ease 0s, outline 0.7s ease;
}



.social-list__icon-link:hover {
	color: #EADEED;
}

.social-list__icon-link:focus {
	color: #EADEED;
	outline: 1px solid var(--purple-color);
}

.social-list__icon-link:active {
	color: var(--purple-color);
}



.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
}

.footer__text:not(:last-child) {
	margin-bottom: 6px;
}

.footer__contact {}


.footer__link {
	display: flex;
	justify-content: end;
	transition: color 0.3s ease;
}

.footer__link:hover {
	color: var(--purple-color);
}