.footer {
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 21px;
	background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 145px;
}

.footer__info {}

.footer__image {
	max-width: 680px;
	min-height: 274px;
}


.footer__title {
	margin-bottom: 49px;
}

.address {
	font-style: normal;
	margin-bottom: 39px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
}

.address__text {
	position: relative;
	padding-left: 60px;
}

.address__text_icon_location {
	margin-bottom: 38px;
	white-space: pre-line;

}

.address__text_icon_tel {
	margin-bottom: 11px;
}

.address__link {
	color: #fff;
	transition: color 0.3s ease 0s;
}

.address__link:hover {
	color: var(--purple-color);
}


.address__text:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 35px;
	height: 32px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.address__text_icon_location:before {
	background-image: url('../img/icon/location.svg');
	height: 64px;
	background-position: center;
}

.address__text_icon_tel:before {
	background-image: url('../img/icon/telephone.svg');
}

.address__text_icon_email:before {
	background-image: url('../img/icon/mail.svg');
}


.footer__navigation {}

.social-list {
	font-size: 0;
	display: flex;
	gap: 27px;
}

.social-list__item {}



.social-list__icon-link {
	display: inline-block;
	outline: 1px solid #ffffff00;
	transition: color 0.3s ease 0s, outline 0.7s ease;
}



.social-list__icon-link:hover {
	color: #EADEED;
}

.social-list__icon-link:focus {
	color: #EADEED;
	outline: 1px solid var(--purple-color);
}

.social-list__icon-link:active {
	color: var(--purple-color);
}



.footer__bottom {
	display: flex;
	justify-content: space-between;

}

.footer__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
}

.footer__text:not(:last-child) {
	margin-bottom: 6px;
}

.footer__contact {
	text-align: right;
}


.footer__link {
	display: flex;
	justify-content: end;
	transition: color 0.3s ease;
}

.footer__link:hover {
	color: var(--purple-color);
}

@media screen and (max-width:1300px) {
	.footer {
		padding-top: 35px;
	}

	.footer__title {
		margin-bottom: 26px;
	}


	.footer__image {
		max-width: 542px;
	}

	.footer__row {
		justify-content: flex-start;
		gap: 58px;
		margin-bottom: 92px;
	}

	.address__text {
		padding-left: 39px;
	}

	.address__text:before {
		background-size: cover;
	}

	.address__text_icon_location:before {
		width: 26px;
		height: 26px;
		top: 25%;
	}

	.social-list__icon-link:before {
		font-size: 40px;
	}

	.address__text_icon_email:before {
		width: 26px;
		height: 20px;
	}

	.address__text_icon_tel:before {
		width: 26px;
		height: 26px;
	}

}

@media screen and (max-width:950px) {


	.footer__title {
		margin-bottom: 30px;
	}


	.footer__image {
		max-width: 100%;
		min-height: 337px;
		object-fit: cover;
	}

	.footer__row {
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin-bottom: 75px;
	}

	.address {
		text-align: center;
	}

	.address__text {
		padding-left: 0px;
	}

	.address__text:before {
		background-size: cover;
	}

	.address__text:before {
		position: static;
		display: inline-block;
		margin-right: 16px;
		width: 26px;
		height: 26px;
	}

	.social-list {
		justify-content: center;
	}

}

@media screen and (max-width:620px) {
	.footer {
		padding-top: 15px;
	}

	.footer__title {
		margin-bottom: 15px;
	}


	.footer__image {
		max-width: 100%;
		min-height: 194px;
	}

	.footer__row {
		gap: 35px;
		margin-bottom: 63px;
	}

	.address {
		margin-bottom: 10px;
	}

	.address__text_icon_location {
		margin-bottom: 10px;
	}

	.address__text {
		font-size: 14px;
	}

	.address__text:before {
		background-size: cover;
	}

	.address__text:before {
		position: static;
		display: inline-block;
		margin-right: 7px;
		width: 20px;
		height: 20px;
	}

	.social-list {
		gap: 20px;
	}

	.footer__bottom {
		flex-direction: column;
		align-items: center;
		gap: 19px;
	}

	.footer__text {
		font-size: 12px;
	}

	.footer__link {
		justify-content: center;
	}

	.social-list__icon-link:before {
		font-size: 30px;
	}
}