.hero {
	padding: 25px 0 50px;
	height: 900px;
}

.hero__container {
	position: relative;

}

.hero__container:after {
	content: "";
	display: inline-block;
	width: 675px;
	height: 762px;
	background-image: url("../img/human.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 65px;
	right: 30px;


}

.page__title {
	font-weight: 900;
	font-size: 150px;
	text-transform: uppercase;
	letter-spacing: -0.1em;
}

.hero__text {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.78;
	padding-left: 101px;
	margin-bottom: 30px;
}


.hero__info {
	display: flex;
	margin-bottom: 150px;
	align-items: flex-end;
	gap: 40px;
}

.hero__info-cart {
	flex: 0 193px;
	text-align: center;
}

.hero__info-title-big {
	font-weight: 900;
	font-size: 100px;
	line-height: 1.41;
	color: var(--purple-color);
}

.hero__info-title-small {
	font-weight: 900;
	font-size: 75px;
	font-variant: all-small-caps;
	line-height: 1.41;
	color: var(--purple-color);
}

.hero__info-cart-title_size_less {}

.hero__info-cart-text {
	font-size: 30px;
	line-height: 1.13;
}

.hero__link {
	display: inline-flex;
	align-items: center;
	text-align: center;
	padding: 0 69px;
	height: 80px;
	background: var(--purple-dark);
	outline: none;
	border-radius: 10px;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.15;
	box-shadow: 0px 0px 17px var(--purple-dark);
	text-transform: uppercase;
	position: relative;
	z-index: 5;
	transition: border-color, background-color 0.3s ease;
}

.hero__link:hover {
	background-color: #840AA3;
}

.hero__link:focus {
	background-color: #840AA3;
}

.hero__link:active {
	background-color: #640AA3;

}


.hero__button {
	display: inline-block;
	position: absolute;
	right: 50%;
	bottom: 90px;
	transform: translateX(50%);
	z-index: 5;
	transition: outline 0.3s ease;
}

.button__svg {
	fill: transparent;
	transition: fill 0.5s ease;
}

.button__circle {
	stroke: #fff;
	transition: stroke 0.3s ease;
}

.button__rect {
	transition: color 0.3s ease;
}


.button__svg:hover {
	fill: #fff;
}

.button__svg:hover .button__rect {
	color: var(--purple-dark);
}

.hero__button:focus {
	outline: 1px solid var(--purple-color);
}

.button__svg:active {
	fill: var(--purple-color);
}

.button__svg:active .button__circle {
	stroke: var(--purple-color);
}

.button__svg:active .button__rect {
	color: #fff;
}