.hero {
	padding: 25px 0 50px;
	height: 900px;
}

.hero__container {
	position: relative;
}

.hero__container:after {
	content: "";
	display: inline-block;
	width: 675px;
	height: 762px;
	background-image: url("../img/human.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 58px;
	right: 30px;

}

.page__title {
	font-weight: 900;
	font-size: 150px;
	text-transform: uppercase;
	letter-spacing: -0.1em;
}

.hero__text {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.78;
	padding-left: 101px;
	margin-bottom: 27px;
}


.hero__info {
	display: flex;
	margin-bottom: 150px;
	align-items: flex-end;
	gap: 27px;
}

.hero__info-cart {
	flex: 0 1 193px;
	text-align: center;
}

.hero__info-title-big {
	font-weight: 900;
	font-size: 100px;
	line-height: 1.41;
	color: var(--purple-color);
}

.hero__info-title-small {
	font-weight: 900;
	font-size: 75px;
	font-variant: all-small-caps;
	line-height: 1.41;
	color: var(--purple-color);
}


.hero__info-cart-text {
	font-size: 30px;
	line-height: 1.13;
}

.hero__link {
	display: inline-flex;
	align-items: center;
	text-align: center;
	padding: 0 69px;
	height: 80px;
	background: var(--purple-dark);
	outline: none;
	border-radius: 10px;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.15;
	box-shadow: 0px 0px 17px var(--purple-dark);
	text-transform: uppercase;
	position: relative;
	z-index: 5;
	transition: border-color, background-color 0.3s ease;
}

.hero__link:hover {
	background-color: #840AA3;
}

.hero__link:focus {
	background-color: #840AA3;
}

.hero__link:active {
	background-color: #640AA3;
}

.hero__button {
	display: inline-block;
	position: absolute;
	right: 50%;
	bottom: 90px;
	transform: translateX(50%);
	z-index: 5;
	transition: outline 0.3s ease;
}

.button__svg {
	fill: transparent;
	transition: fill 0.5s ease;
}

.button__circle {
	stroke: #fff;
	transition: stroke 0.3s ease;
}

.button__rect {
	transition: color 0.3s ease;
}


.button__svg:hover {
	fill: #fff;
}

.button__svg:hover .button__rect {
	color: var(--purple-dark);
}

.hero__button:focus {
	outline: 1px solid var(--purple-color);
}

.button__svg:active {
	fill: var(--purple-color);
}

.button__svg:active .button__circle {
	stroke: var(--purple-color);
}

.button__svg:active .button__rect {
	color: #fff;
}

@media screen and (max-width:1300px) {
	.hero {
		padding: 15px 0 40px;
		height: 640px;
	}

	.page__title {
		font-size: 120px;
		margin-bottom: 20px;
	}

	.hero__text {
		font-size: 22px;
		line-height: 1.36;
		padding-left: 101px;
	}


	.hero__info {
		margin-bottom: 80px;
	}

	.hero__container:after {
		width: 453px;
		height: 520px;
		top: 58px;
		right: 30px;
		background-size: cover;
	}

	.hero__info-cart {
		flex: 0 1 168px;
	}

	.hero__info-title-big {
		font-size: 80px;
	}

	.hero__info-title-small {
		font-size: 60px;
	}


	.hero__info-cart-text {
		font-size: 26px;
	}

	.hero__link {
		height: 64px;
		font-size: 22px;
		padding: 0 48px;
		margin-left: 39px;
	}

	.hero__button {
		width: 67px;
		height: 67px;
		bottom: 46px;
	}
}

@media screen and (max-width:950px) {
	.hero {
		height: 595px;

	}

	.hero__text {
		margin-bottom: 50px
	}

	.page__title {
		font-size: 86px;
	}

	.hero__text {
		font-size: 18px;
		line-height: 1.33;
		padding-left: 70px;
	}


	.hero__info {
		margin-bottom: 100px;
	}

	.hero__container:after {
		width: 425px;
		height: 479px;
		right: 37px;
		background-position: center;
	}

	.hero__info-cart {
		flex: 0 1 103px;
	}

	.hero__info-title-big {
		font-size: 50px;
	}

	.hero__info-title-small {
		font-size: 40px;
	}


	.hero__info-cart-text {
		font-size: 16px;
	}

	.hero__link {
		height: 46px;
		font-size: 16px;
		padding: 0 35px;
		margin: 0;
		border-radius: 4px;
	}

	.hero__button {
		display: none;
	}
}

@media screen and (max-width:650px) {
	.hero {
		padding: 10px 0 23px;
		height: 240px;

	}

	.page__title {
		font-size: 35px;
		margin-bottom: 6px;
		letter-spacing: -0.08em;
	}

	.hero__text {
		font-size: 10px;
		line-height: 1.4;
		padding-left: 20px;
		margin-bottom: 14px
	}


	.hero__info {
		margin-bottom: 25px;
		gap: 14px;
	}

	.hero__container:after {
		width: 161px;
		height: 179px;
		right: 20px;
		top: 25px;

	}

	.hero__info-cart {
		flex: 0 1 65px;
	}

	.hero__info-title-big {
		font-size: 26px;
	}

	.hero__info-title-small {
		font-size: 22px;
	}


	.hero__info-cart-text {
		font-size: 10px;
	}

	.hero__link {
		height: 27px;
		font-size: 10px;
		padding: 0 13px;
		font-size: 10px;
	}

}