.introduction {
	padding: 25px 0 50px;
	height: 946px;
}

.introduction__body {
	height: 100%;
	position: relative;

}

.introduction__body:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url("../img/human.png");
	background-repeat: no-repeat;
	background-position: top 65px right;
	position: absolute;
	top: 0;
	right: 0;


}

.page__title {
	font-weight: 900;
	font-size: 150px;
	text-transform: uppercase;
	letter-spacing: -0.1em;
}

.introduction__text {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.78;
	padding-left: 101px;
	margin-bottom: 30px;
}


.introduction__info {
	display: flex;
	margin-bottom: 150px;
	align-items: flex-end;
	gap: 40px;
}

.introduction__info-cart {
	flex: 0 193px;
}

.introduction__info-cart-title {
	font-weight: 900;
	font-size: 100px;
	line-height: 1.41;
	color: #CD06FF;
	text-transform: uppercase;
	text-align: center;
}

.introduction__info-cart-title_size_less {
	font-size: 75px;
	font-variant: all-small-caps;
}

.introduction__info-cart-text {
	font-size: 30px;
	line-height: 1.13;
	text-align: center;
}

.introduction__link {
	display: inline-flex;
	align-items: center;
	text-align: center;
	padding: 0 69px;
	height: 80px;
	background: #6C0287;
	box-shadow: 0px 0px 20px 2px #6C0287;
	border-radius: 10px;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.15;
	text-transform: uppercase;
	position: relative;
	z-index: 5;
}

.introduction__button {
	width: 97px;
	height: 97px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	background: transparent;
	position: relative;
	z-index: 5;
	top: -33px;
	display: block;
	margin: 0 auto;

}

.introduction__button-arrow {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	transform: rotate(135deg);
}