.introduction {
	padding: 146px 0 50px;
	height: 946px;
}

.introduction__body {
	height: 100%;
	position: relative;
}

.introduction__body:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url("../img/human.png");
	background-repeat: no-repeat;
	background-position: top 65px right;
	position: absolute;
	top: 0;
	right: 0;

}

.page__title {
	font-weight: 900;
	font-size: 150px;
	text-transform: uppercase;
	letter-spacing: -0.1em;
}

.introduction__text {
	font-weight: 400;
	font-size: 28px;
	line-height: 1.78;
	padding-left: 101px;
}