.reservation {
	padding: 80px 0;
	background: #440F51;
}

.reservation__title {
	margin-bottom: 50px;
}

.reservation__form {
	padding: 0 22px;
}

/*radio-halls*/

.fieldset-form-halls {
	margin-bottom: 60px;
	position: relative;
}

.fieldset-form-halls__block {
	display: flex;
	gap: 60px;
}


.legend {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
}

.legend-fieldset {
	margin-bottom: 40px;
	text-align: center;
}

.fieldset-form-halls__input {}


.fieldset-form-halls__label {
	flex: 0 1 25%;
	color: #000;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.33;
	user-select: none;
	background-color: #fff;
	border-radius: 8px;
	padding: 8px 15px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.fieldset-form-halls__input:checked+.fieldset-form-halls__label {
	box-shadow: 2px 2px 5px #00e660;
}


/*set*/

.fieldset-form-set {
	margin-bottom: 67px;
}



.fieldset-form-set__row {
	display: flex;
	justify-content: space-around;
}



.fieldset-form-set__legend {
	margin-bottom: 24px;
}

.fieldset-form-set__block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.fieldset-form-set__label {
	font-size: 22px;
	line-height: 1.13;
	cursor: pointer;
}

.fieldset-form-set__label:not(:last-child) {
	margin-bottom: 22px;
}

.fieldset-form-set__input {
	width: 27px;
	height: 27px;
	vertical-align: middle;
}

.fieldset-form-set__input {
	margin-right: 12px;
}



/*date and time*/

.fieldset-form-date {
	display: flex;
	max-width: 980px;
	justify-content: space-between;
	gap: 50px;
	margin: 0 auto 40px;
	align-items: center;
}


.fieldset-form-date__block-time {
	display: flex;
	row-gap: 30px;
	column-gap: 32px;
	flex-wrap: wrap;
	flex-basis: 300px;
	padding-top: 22px;
}

.form__input_date {
	width: 134px;
}

.form__input_count {
	width: 100%;
}

.form__input_count::placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	color: #211E1E;
}


.fieldset-form-date__block-info-name {
	flex-basis: 280px;
}

.fieldset-form-date__block-info-contact {
	flex-basis: 300px;
}

.fieldset-form-date__label {
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	margin-bottom: 6px;
}


.form__input {
	padding: 10px 20px;
	font-size: 18px;
	line-height: 1.55;
	color: #211E1E;
}

.form__input-info {
	width: 100%;
}

.form__input-info:not(:last-child) {
	margin-bottom: 12px;
}

.form__bth-row {
	display: flex;
	justify-content: flex-end;
	padding-right: 100px;
}

.form__bth {
	padding: 16px 50px;
	color: #6C0287;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.27;
	background-color: #fff;
	border: none;
	border-radius: 10px;
	text-transform: uppercase;
	align-self: flex-end;
}