.services {
	padding: 50px 0;
}

.container {}

.services__title {
	max-width: 710px;
	margin: 0 auto 41px;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 20px;
}

.services__item {
	display: flex;
	flex: 0 1 380px;
	padding: 166px 40px 6px;
}

.list__text {
	line-height: 1.4;
	font-weight: 700;
}


.services__item_bg_vr {
	background: url('../img/services/vr.jpg') no-repeat;
}

.services__item_bg_audio {
	background: url('../img/services/audio.jpg') no-repeat;
}

.services__item_bg_micro {
	background: url('../img/services/micro.jpg') no-repeat;
}

.services__item_bg_game {
	background: url('../img/services/game.jpg') no-repeat;
}

.services__item_bg_netflix {
	background: url('../img/services/netflix.jpg') no-repeat;
}

.services__item_bg_sony {
	background: url('../img/services/sony.jpg') no-repeat;
}