.services {
	padding: 45px 0 50px;
}

.services__title {
	max-width: 780px;
	margin: 0 auto 41px;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: var(--gap);
	padding-bottom: 70px;
}

.services__item {
	flex: 0 1 calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
	padding: 166px 40px 6px;
	transition: transform 0.3s ease;
}

.services__item:nth-child(3n-1) {
	transform: translateY(70px);
}

.services__item:hover {
	transform: scale(1.1);
}

.services__item:nth-child(3n-1):hover {
	transform: scale(1.1) translateY(70px);
}


.list__text {
	line-height: 1.4;
	font-weight: 700;
}


.services__item_bg_vr {
	background: url('../img/services/vr.jpg') no-repeat;
}

.services__item_bg_audio {
	background: url('../img/services/audio.jpg') no-repeat;
}

.services__item_bg_micro {
	background: url('../img/services/micro.jpg') no-repeat;
}

.services__item_bg_game {
	background: url('../img/services/game.jpg') no-repeat;
}

.services__item_bg_netflix {
	background: url('../img/services/netflix.jpg') no-repeat;
}

.services__item_bg_sony {
	background: url('../img/services/sony.jpg') no-repeat;
}

@media screen and (max-width:1300px) {
	.services {
		padding: 40px 0 35px;
	}

	.services__list {
		row-gap: 30px;
	}

	.services__title {
		max-width: 600px;
		margin-bottom: 41px;
	}

	.services__item {
		padding: 114px 0px 2px 20px;
	}

	.services__item:nth-child(3n-1) {
		transform: translateY(53px);
	}

	.services__item:nth-child(3n-1):hover {
		transform: scale(1.10) translateY(0px);
	}
}

@media screen and (max-width:950px) {
	.services {
		padding-bottom: 30px;
	}

	.services__list {
		row-gap: 20px;
		padding: 0;
	}

	.services__title {
		margin-bottom: 30px;
	}

	.services__item {
		padding: 132px 30px 12px 30px;
		min-height: 200px;
	}

	.services__item:nth-child(3n-1) {
		transform: translateY(0px);
	}
}

@media screen and (max-width:650px) {
	.services {
		padding-top: 23px;
		padding-bottom: 15px;
	}

	.services__title {
		margin-bottom: 15px;
	}

	.services__list {
		gap: var(--gap);
	}

	.services__item {
		min-height: 75px;
		padding: 30px 10px 3px 10px;
		transform: translate(0, 0);
		background-size: cover;
		background-position: center;
	}

	.services__item:nth-child(3n-1) {
		transform: translateY(0px);
	}

	.list__text {
		font-size: 10px;
	}
}