:root {
	--main-color: #fff;
	--purple-color: #CD06FF;
	--purple-dark: #6C0287;
	--gap: 20px;
}

.services {
	--cart-count: 3;
}

.halls {
	--cart-count: 2;
}

.about__list {
	--width: 600px;
	--height: 596px;
}

@media screen and (max-width:1300px) {
	.about__list {
		--width: 420.26px;
		--height: 417.66px;
	}
}

@media screen and (max-width:950px) {
	.services {
		--cart-count: 2;
	}

	:root {
		--gap: 10px;
	}
}